.Rproj.user
.Rhistory
.RData
.Ruserdata
Deere Data Pull - DO NOT COMMIT
Deere Data Pull - DO NOT COMMIT\*
Final Project Submitted/Logistic Regression_Widget Failure.Rmd
Final Project Submitted/Logistic_Regression_Widget_Failure_Formatted.docx
Final Project Submitted/Part 1.docx
